.container
{
    margin-top: 150px;
}
.container h2 {
    font-size: 60px;
    
    margin-top: 50px;
    /* margin-left: 50px; */
    color: transparent; /* Make the text transparent */
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    -webkit-background-clip: text; /* Apply background-clip property with text value */
    background-clip: text; /* Apply background-clip property with text value */
   
        border-right: 0.001em solid violet;
        white-space: nowrap;
        overflow: hidden;
        width: 25ch; /* Set the width to the desired text length */
        animation: typing 4s steps(25)  infinite normal both, blink-caret 0.75s step-end infinite;        
      }

      @keyframes typing {
        from { width: 0; }
        to { width: 17ch; }
      }
      
      @keyframes blink-caret {
        from, to { border-color: violet; }
        50% { border-color:white; }
      }
      

input
{
    
    background-color: transparent;
}



