.container
{
    margin-top: 150px;
}
.container h1 {
    font-size: 60px;
    
    margin-top: 50px;
    margin-left: 100px;
    color: transparent; /* Make the text transparent */
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    -webkit-background-clip: text; /* Apply background-clip property with text value */
    background-clip: text; /* Apply background-clip property with text value */
}
input
{
    background-color: transparent;
}



